{%- liquid
  assign text_column_count = 0
  assign column_1_enabled = false
  assign column_2_enabled = false
  assign column_3_enabled = false
  if block.settings.enable_image_1 or block.settings.title_1 != blank or block.settings.text_1 != blank
    assign column_1_enabled = true
    assign text_column_count = text_column_count | plus: 1
  endif
  if block.settings.enable_image_2 or block.settings.title_2 != blank or block.settings.text_2 != blank
    assign column_2_enabled = true
    assign text_column_count = text_column_count | plus: 1
  endif
  if block.settings.enable_image_3 or block.settings.title_3 != blank or block.settings.text_3 != blank
    assign column_3_enabled = true
    assign text_column_count = text_column_count | plus: 1
  endif

  case text_column_count
    when 1
      assign grid_item_width = ''
    when 2
      assign grid_item_width = 'medium-up--one-half'
    when 3
      assign grid_item_width = 'medium-up--one-third'
  endcase
-%}

<div class="index-section">
  <div class="page-width text-{{ block.settings.align_text }}">
    {%- if block.settings.title != blank -%}
      <div class="section-header">
        <h2>{{ block.settings.title }}</h2>
      </div>
    {% endif %}

    <div class="grid grid--flush-bottom">
      {% if column_1_enabled %}
        <div class="grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_1 %}
            <div style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width_1 }}px;">
              {% if block.settings.button_link_1 != blank %}
                <a href="{{ block.settings.button_link_1 }}">
              {% endif %}
              {% if block.settings.image_1 != blank %}
                <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image_1.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ block.settings.image_1.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image_1.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing" style="height: 300px">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
              {% if block.settings.button_link_1 != blank %}
                </a>
              {% endif %}
            </div>
          {% endif %}
          {% if block.settings.title_1 != blank %}
            <p class="h3">{{ block.settings.title_1 }}</p>
          {% endif %}
          {% if block.settings.text_1 != blank %}
            <div class="rte-setting text-spacing">{{ block.settings.text_1 }}</div>
          {% endif %}
          {% if block.settings.button_label_1 != blank %}
            <a href="{{ block.settings.button_link_1 }}" class="btn btn--secondary btn--small">
              {{ block.settings.button_label_1 }}
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if column_2_enabled %}
        <div class="grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_2 %}
            <div style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width_2 }}px;">
              {% if block.settings.button_link_2 != blank %}
                <a href="{{ block.settings.button_link_2 }}">
              {% endif %}
              {% if block.settings.image_2 != blank %}
                <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image_2.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ block.settings.image_2.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image_2.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing" style="height: 300px">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
              {% if block.settings.button_link_2 != blank %}
                </a>
              {% endif %}
            </div>
          {% endif %}
          {% if block.settings.title_2 != blank %}
            <p class="h3">{{ block.settings.title_2 }}</p>
          {% endif %}
          {% if block.settings.text_2 != blank %}
            <div class="rte-setting text-spacing">{{ block.settings.text_2 }}</div>
          {% endif %}
          {% if block.settings.button_label_2 != blank %}
            <a href="{{ block.settings.button_link_2 }}" class="btn btn--secondary btn--small">
              {{ block.settings.button_label_2 }}
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if column_3_enabled %}
        <div class="grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_3 %}
            <div style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width_3 }}px;">
              {% if block.settings.button_link_3 != blank %}
                <a href="{{ block.settings.button_link_3 }}">
              {% endif %}
              {% if block.settings.image_3 != blank %}
                <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image_3.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image_3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ block.settings.image_3.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image_3.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing" style="height: 300px">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
              {% if block.settings.button_link_3 != blank %}
                </a>
              {% endif %}
            </div>
          {% endif %}
          {% if block.settings.title_3 != blank %}
            <p class="h3">{{ block.settings.title_3 }}</p>
          {% endif %}
          {% if block.settings.text_3 != blank %}
            <div class="rte-setting text-spacing">{{ block.settings.text_3 }}</div>
          {% endif %}
          {% if block.settings.button_label_3 != blank %}
            <a href="{{ block.settings.button_link_3 }}" class="btn btn--secondary btn--small">
              {{ block.settings.button_label_3 }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
