{%- if section.settings.show_image -%}
  {%- liquid
    if section.settings.image != blank
      assign password_image = section.settings.image | img_url: '1800x'
    else
      assign password_image = 'password-page-background.jpg' | asset_url
    endif
  -%}

  {%- style -%}
    body {
      background-color: #000;
    }
    .password-page__image {
      background-image: url({{ password_image }});
    }
    .password-page__wrapper {
      color: #fff;
    }
    .password-page__wrapper hr {
      border-color: inherit;
    }
  {%- endstyle -%}
{%- else -%}
  {%- style -%}
    .password-page__image {
      display: none;
    }
  {%- endstyle -%}
{%- endif -%}

<div class="password-page__main__inner">

  {%- unless section.settings.title == blank -%}
    <h2 class="password-page__hero">{{ section.settings.title }}</h2>
  {%- endunless -%}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}
  {%- unless shop.password_message == blank -%}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
  {%- endunless -%}

  {%- if section.settings.newsletter_enable -%}
    <div class="password-page__signup-form">
      {%- form 'customer' -%}
        {{ form.errors | default_errors }}
        {%- if form.posted_successfully? -%}
          <p class="note--success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {%- else -%}
          <h5 class="rte">{{ section.settings.newsletter_heading}}</h5>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder }}">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text }}">
            </span>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  {%- endif -%}

  {%- if section.settings.show_share_buttons -%}
    <div class="password-page__social-sharing">
      {%- render 'social-sharing' -%}
    </div>
  {%- endif -%}

</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_heading",
        "label": "Newsletter heading",
        "default": "<p>Get notified when we launch</p>",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Background image"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "label": "Enable image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
